apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  type: NodePort
  selector:
    app: internship-api
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30010   # 可访问 http://<host-ip>:30010

